//------------- GLOBAL STYLES:
html, body {
	height: 100svh;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	@include default-font;
}
.container {
	min-width: $ui-bp-min;
	max-width: $ui-bp-max;
}