.filters .container {
	margin: 0 auto;
}

#filter-input {
	position: relative;
	padding-left: 36px;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 4px;
		
	}
}

.search-icon {
	position: absolute;
	left: 6px;
	transform: translateY(57%);
	z-index: $ui-index-9;
	width: 24px;
	height: 24px;
}


.filter-clear {
	width: 24px;
	height: 24px;
}
#filter-reset {
	background-color: transparent;
}




// SELECT стилізується залежно від обраного OPTION:

#filter-urgency:has(> option[value="high"]:checked) {
	background-color: $ui-color-red;
	color: white;
	font-weight: bold;
}

#filter-urgency:has(> option[value="medium"]:checked) {
	background-color: $ui-color-orange;
	font-weight: bold;
}

#filter-urgency:has(> option[value="low"]:checked) {
	font-weight: bold;
}

#filter-status:has(> option[value="open"]:checked) {
	font-weight: bold;
}

#filter-status:has(> option[value="done"]:checked) {
	//background-color: lightgrey;
	opacity: 0.4;
	font-weight: bold;
}






//	========	СТИЛІ НИЖЧЕ ФАРБУЮТЬ КАРТКУ ЗАЛЕЖНО ВІД ЇЇ ДАТА-АТРИБУТІВ.
//	========	move it into "mainblock.scss":

.card {
	&[data-urgency="high"] {
		border: 1px solid $ui-color-red;
		border-left: 6px solid $ui-color-red;
		// or replace with your styling... :)
	}
	
	&[data-urgency="medium"] {
		border: 1px solid $ui-color-orange;
		border-left: 6px solid $ui-color-orange;
		// or replace with your styling... :)
	}
	
	
	
	
	&[data-status="done"] {
		opacity: 0.4;
		// or replace with your styling... :)
	}
}
//	========	move it into "mainblock.scss":
// 	========	СТИЛІ ВИЩЕ ФАРБУЮТЬ КАРТКУ ЗАЛЕЖНО ВІД ЇЇ ДАТА-АТРИБУТІВ.
