.filters .container {
	margin: 0 auto;
}

#filter-urgency:focus {
	outline: none;
}



// SELECT стилізується залежно від обраного OPTION:

#filter-urgency:has(> option[value="high"]:checked) {
	background-color: red;
	color: white;
	font-weight: bold;
}

#filter-urgency:has(> option[value="medium"]:checked) {
	background-color: orange;
	font-weight: bold;
}

#filter-urgency:has(> option[value="low"]:checked) {
	font-weight: bold;
}

#filter-status:has(> option[value="open"]:checked) {
	font-weight: bold;
}

#filter-status:has(> option[value="done"]:checked) {
	//background-color: lightgrey;
	opacity: 0.4;
	font-weight: bold;
}






//	========	СТИЛІ НИЖЧЕ ФАРБУЮТЬ КАРТКУ ЗАЛЕЖНО ВІД ЇЇ ДАТА-АТРИБУТІВ.
//	========	move it into "mainblock.scss":

.card {
	&[data-urgency="high"] {
		border-left: 6px solid red;
		// or replace with your styling... :)
	}
	
	&[data-urgency="medium"] {
		border-left: 6px solid orange;
		// or replace with your styling... :)
	}
	
	&[data-status="done"] {
		opacity: 0.4;
		// or replace with your styling... :)
	}
}
//	========	move it into "mainblock.scss":
// 	========	СТИЛІ ВИЩЕ ФАРБУЮТЬ КАРТКУ ЗАЛЕЖНО ВІД ЇЇ ДАТА-АТРИБУТІВ.
