.header {
	padding: 16px 42px;
	border-bottom: 1px solid #C2D3FE;
	background: rgba(194, 211, 254, 0.10);
}

.btn__login{
	width: 120px;
	height: 48px;
	//display: none;
}
.btn__create{
	display: none;
}
.btn__out{
	display: none;
}