.container {
	margin: 0 auto;
}

.header {
	padding: 16px 16px;
	box-sizing: border-box;
	border-bottom: 1px solid #C2D3FE;
	background: rgba(194, 211, 254, 0.10);

	&_logo {
		justify-content: center;
	}

	&_logo__e-health {
		width: 106px;
		height: 24px;
	}

	&_logo__exit {
		display: none;
	}
	&_logo__exit:hover {
		display: none;
		background-color: rgba(222, 222, 222, 1);
	}
}

.btn {
	&__login {
		@include primaryButton (124px, 48px);
		display: flex;
	}

	&__login:hover {
		@include primaryButton (124px, 48px);
		background-color: rgba(44, 103, 251, 1);

	}

	&__create {
		@include primaryButton (218px, 48px);
		white-space: nowrap;
		display: none;
	}

	&__create:hover {
		white-space: nowrap;
		@include primaryButton (218px, 48px);
		background-color: rgba(44, 103, 251, 1);
	}

	&__out {
		display: none;
		@include secondaryButton (89px, 48px);
		white-space: nowrap;
		align-items: center;
		justify-content: center;
		margin-left: 16px;
	}

	&__out:hover {
		@include secondaryButton (89px, 48px);
		background-color: rgba(222, 222, 222, 1);
	}

}

//----------mobile max 480 px----------//

@media screen and (min-width:$ui-bp-min) {
	.container {
		max-width: $ui-bp-mob-max ;
	}

	.wrapper-button {
		@include display-flex-column-align-center;
	}

	.header {
		&_menu {
			@include display-flex-column-align-center;
		}

		&_logo {
			width: 328px;

			&__exit {
				width: 69px;
				height: 48px;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: rgba(194, 211, 254, 0.14);
				border: 1px solid rgba(78, 124, 239, 1);
				border-radius: 8px;
				margin-left: auto;
			}
			&__exit:hover {
				background-color: rgba(222, 222, 222, 1);
			}
		}
	}

	.btn {
		justify-content: center;
		align-items: center;

		&__login {
			@include primaryButton (328px, 48px);
			margin: 16px 0;
		}
		&__login:hover {
			@include primaryButton (328px, 48px);
			background-color: rgba(44, 103, 251, 1);
	
		}

		&__create {
			@include primaryButton (328px, 48px);
			margin: 16px 0;
		}
		&__create:hover {
			@include primaryButton (328px, 48px);
			background-color: rgba(44, 103, 251, 1);
		}

	}
}

//----------481-992 tablet//

@media screen and (min-width:$ui-bp-tab-min) {
	.container {
		max-width: $ui-bp-tab-max;
	}

	.header {
		&_menu {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}

		&_logo {
			justify-content: flex-start;

			&__exit {
				position: absolute;
				visibility: hidden;
			}
			&__exit:hover {
				background-color: rgba(222, 222, 222, 1);
			}
		}
	}

	.btn {
		&__login {
			@include primaryButton (124px, 48px);
		}
		&__login:hover {
			@include primaryButton (124px, 48px);
			background-color: rgba(44, 103, 251, 1);
	
		}
		

		&__create {
			@include primaryButton (218px, 48px);
		}
		&__create:hover {
			@include primaryButton (218px, 48px);
			background-color: rgba(44, 103, 251, 1);
		}

		&__out {
			@include secondaryButton (89px, 48px);
		}
	}

	.wrapper-button {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-left: 16px;
	}
}

@media screen and (max-width:481px) {
	.btn__out {
		position: absolute;
		visibility: hidden;
	}

	.header_logo__exit {
		display: none;
	}

	.header_logo {
		justify-content: center;
	}
}


///////////--------MODAL
.dark-background {
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.47);
	position: absolute;
	top: 0;
	left: 0;
}

.modal-window {
	width: fit-content;
	height: fit-content;
	background-color: white;
	padding: 32px 24px 24px;
	box-sizing: border-box;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__title {
		@include styleText(28px, 500, 150%, rgba(0, 0, 0, 1), none, center);
	}

	&__buttons-container {
		display: flex;
		padding-top: 12px;
		gap: 12px;

		&__button-cancel {
			@include secondaryButton(243px, 48px)
		}

		&__button-login {
			@include primaryButton(243px, 48px);
			background-color: rgba(78, 124, 239, 1);
			color:rgba(255, 255, 255, 1);
		}
		&__button-login:hover {
			@include primaryButton(243px, 48px);
			background-color:rgba(44, 103, 251, 1);
			color: rgba(255, 255, 255, 1);
		}
		&__button-login:disabled{
			@include primaryButton(243px, 48px);
			background-color: rgba(222, 222, 222, 1);
			color: rgba(112, 112, 112, 1);
		}
	}
}

.form-login {
	display: flex;
	flex-direction: column;

	&__input-email,
	&__input-password {
		outline: 0;
		width: 502px;
		height: 44px;
		box-sizing: border-box;
		border: 1px solid rgba(220, 220, 220, 1);
		background-color: rgba(222, 222, 222, 1);
		border-radius: 8px;
		margin: 4px;

	}
	
	&__input-email:focus {
		border: 1px solid rgba(78, 124, 239, 1);
		box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
	}

	&__input-password:focus {
		border: 1px solid rgba(78, 124, 239, 1);
		box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
	}


	&__input-email-icon {
		background: url(./../../images/mail.svg) no-repeat center;
		background-position: bottom 50% left 10px;
		padding-left: 47px;
	}

	&__input-password-icon {
		background: url(./../../images/lock.png) no-repeat center;
		background-position: bottom 50% left 10px;
		padding-left: 47px;
	}

	&__span-email,
	&__span-password {
		@include styleText(14px, 400, 150%, rgba(0, 0, 0, 1), none, start)
	}

}

//----------481-992 tablet//
@media screen and (max-width:$ui-bp-tab-max) {
	.modal-window {
		width: fit-content;
		height: fit-content;
		background-color: white;
		padding: 24px 16px;
		box-sizing: border-box;
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&__title {
			@include styleText(24px, 500, 150%, rgba(0, 0, 0, 1), none, center);
		}

		&__buttons-container {
			display: flex;
			gap: 12px;

			&__button-cancel {
				@include secondaryButton(212px, 48px)
			}
	
			&__button-login {
				@include primaryButton(212px, 48px);
				background-color: rgba(222, 222, 222, 1);
				color: rgba(112, 112, 112, 1);
			}
		}
	}

	.form-login {
		display: flex;
		flex-direction: column;

		&__input-email,
		&__input-password {
			width: 436px;
			height: 44px;
			box-sizing: border-box;
			border: 1px solid rgba(220, 220, 220, 1);
			border-radius: 8px;
			gap: 12px;
			padding: 12px, 12px, 12px, 12px;
		}
		&__input-email:focus {
			border: 1px solid rgba(78, 124, 239, 1);
			box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
		}
	
		&__input-password:focus {
			border: 1px solid rgba(78, 124, 239, 1);
			box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
		}
		&__input-email-icon {
			background: url(./../../images/mail.svg) no-repeat center;
			background-position: bottom 50% left 10px;
			padding-left: 47px;

		}

		&__input-password-icon {
			background: url(./../../images/lock.png) no-repeat center;
			background-position: bottom 50% left 10px;
			padding-left: 47px;
		}

		&__span-email,
		&__span-password {
			@include styleText(14px, 400, 150%, rgba(0, 0, 0, 1), none, start);
		}
	}
}


//--------max 482px----------

@media screen and (max-width: $ui-bp-mob-max) {

	.modal-window {
		width: fit-content;
		height: fit-content;
		background-color: white;
		padding: 24px 16px;
		box-sizing: border-box;
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&__title {
			@include styleText(24px, 500, 150%, rgba(0, 0, 0, 1), none, center);
		}

		&__buttons-container {
			display: flex;
			gap: 8px;

			&__button-cancel {
				@include secondaryButton(144px, 48px)
			}

			&__button-login {
				@include primaryButton(144px, 48px);
				background-color: rgba(222, 222, 222, 1);
				color: rgba(112, 112, 112, 1);
			}
		}
	}

	.form-login {
		display: flex;
		flex-direction: column;

		&__input-email,
		&__input-password {
			width: 296px;
			height: 44px;
			box-sizing: border-box;
			border: 1px solid rgba(220, 220, 220, 1);
			border-radius: 8px;
			gap: 12px;
			padding: 12px, 12px, 12px, 12px;
		}
		&__input-email:focus {
			border: 1px solid rgba(78, 124, 239, 1);
			box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
		}
	
		&__input-password:focus {
			border: 1px solid rgba(78, 124, 239, 1);
			box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
		}

		&__input-email-icon {
			background: url(./../../images/mail.svg) no-repeat center;
			background-position: bottom 50% left 10px;
			padding-left: 47px;
		}

		&__input-password-icon {
			background: url(./../../images/lock.png) no-repeat center;
			background-position: bottom 50% left 10px;
			padding-left: 47px;
		}

		&__span-email,
		&__span-password {
			@include styleText(14px, 400, 150%, rgba(0, 0, 0, 1), none, start);
		}
	}
}









////////////////////////
.modal-attention {
	width: fit-content;
	height: fit-content;
	background-color: white;
	padding: 32px 24px 24px;
	box-sizing: border-box;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__text {
		@include styleText(16px, 400, 150%, rgba(0, 0, 0, 0.80), none, center);
	}

	&__buttons-container {
		display: flex;
		gap: 16px;

		&__button-cancel {
			@include secondaryButton(167px, 48px)
		}

		&__button-out {
			@include primaryButton(167px, 48px);
			background-color: #EB3E3E;
		}
	}
}